@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a aplicação de Vendas.</h1>
    <p><a href="https://learn.microsoft.com/aspnet/core">Construção de páginas Web com ASP.NET Core</a>.</p>
</div>
